# Env y secretos
.env
.env.local
.env.*.local
*.env

/docs

# Dependencias y build
node_modules/
dist/
build/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Documentación
*.md

CLAUDE.md